div(class="hst-bar #{el.class || ''} hst-bar--#{el.modifier || '' } clearfix", id="#{el.id || ''}")
  .hst-bar__line.hst-bar__line--blue(style="width: #{el.width || '100'}%")
  .hst-bar__line.hst-bar__line--grey(style="width: #{el.width || '100'}%")